[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
v = {editable = true,version = "*"}

[packages]
tornado = "==4.5.2"
pymysql = "*"
requests = "*"
redis = "*"
sqlalchemy = "*"
python-oauth2 = "*"
urllib = "*"
urllib2 = "*"
urllib3 = "*"
itsdangerous = "*"

[requires]
python_version = "3.6"
