[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tornado = "*"
pymysql = "*"
sqlalchemy = "*"
itsdangerous = "*"
passlib = "*"
pytz = "*"
redis = "*"
celery = {extras = ["auth", "librabbitmq", "msgpack", "redis"],version = "*"}
fake-useragent = "*"

[requires]
python_version = "3.6"
